.auth-card {
  width: 100%;

  &--narrow {
    max-width: 400px;
  }

  &--wide {
    max-width: 480px;
  }

  &__lead {
    font-size: 14px;
  }

  &__muted-link {
    font-size: 14px;
    color: #ff835f;

    transition: color 0.2s ease;

    &:hover {
      color: #f06d47;
    }
  }
}
